<h1>販売者一覧</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>名前</th>
      <th>メールアドレス</th>
    </tr>
  </thead>

  <tbody>
    <% @sellers.each do |seller| %>
      <tr>
        <td><%= link_to seller.name, seller_path(seller) %></td>
        <td><%= seller.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>
