<ul class="product-list animated-list">
  <% @products.each do |product| %>
    <li class="product animated-list-content">
      <p class="product-image">
        <%= link_to(product) do %>
          <img src="/assets/product-default.jpg" alt="">
        <% end %>
      </p>
      <p><%= link_to product.name, product %></p>
      <p>¥<%= product.cost %></p>
      <% if product.seller == current_seller %>
        <p><%= link_to '編集', edit_product_path(product) %></p>
      <% end %>
    </li>
  <% end %>
</ul>
