<h1>商品一覧</h1>

<div class="row">
<%= form_for(:product, url: products_search_path) do |f| %>
  <div class="col-xs-3">
    <%= f.search_field :search, class: 'form-control' %>
  </div>
  <%= f.submit '商品名で検索' %>
<% end %>
</div>

<%= render 'list', locals: { products: @products } %>
