@mixin product-image() {
  width: 80px;
  height: 100px;
  overflow: hidden;
  position: relative;
  display: block;
  img {
    height: 100px;
    width: auto;
    position: absolute;
    top: 0;
    margin-left: 50%;
    transform: translateX(-50%);
  }
}

#product-search-form {
  margin: 0 0 10px 0;
}

.product-list {
  li {
    list-style-type: none;
  }
  .product {
    float: left;
    margin: 0 10px 0 0;
    width: 130px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    .product-image {
      @include product-image;
      margin: 0 auto 5px auto;
    }
    p {
      margin: 0;
    }
  }
}
#product-detail {
  #product-image {
    @include product-image;
    margin: 0 0 20px 180px;
  }
}
